nav {
  padding: 5px 20px;
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #687c94;
}

p {
  color: var(--font-color-dark);
}

.other-links {
  display: flex;
  flex-direction: row;
  color: #000;
  width: 20%;
  min-width: 350px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .other-links {
    min-width: 200px;
  }
}

.other-links li a {
  color: var(--font-color-dark);
  font-weight: bold;
}

.other-links li a:hover {
  cursor: pointer;
  color: var(--font-color-dark);
}

nav img {
  height: 30px;
}

/* .nav-link {} */

nav .nav-form {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .nav-form {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 900px) {
  .nav-form .nav-text,
  .nav-form .nav-bold-text{
    display: none;
  }
}

nav .nav-bold-text {
  font-weight: bold;
  padding-right: 10px;
}

nav #logout {
  margin: 0;
  border: none;
  padding: 0 0 0 15px;
  background: none;
  font-weight: bold;
  color: var(--font-color-dark);
  font-size: 1rem;
}



nav #logout:hover {
  cursor: pointer;
}

.nav-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.nav-logo-text{
  height: 15px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid var(--font-color-light);
  width: 100%;
  height: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 0 30px 0;
}
@media screen and (max-width: 600px) {
  nav #logout {
    font-size: 0.9rem;
  }
  .nav-logo-text{
    display: none;
  }
}