@import "reset.css";
*{box-sizing: border-box;}

input { display: inline-block; }

body {
    background: linear-gradient(#e6e6e6, #ffffff);
    min-height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.logo-top {
    position: absolute;
    text-align: center;
    top: 5vh;
    z-index: -1;
}

.logo { max-width: 100px; }

h1, h2 { line-height: 200%; }

h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

#login-wrapper>h1,
#login-wrapper>h2,
#register-wrapper>h1,
#register-wrapper>h2 { color: #3D4E61; }

#login-register>h1,
#login-register>h2 { color: #FFFFFF; }

#login-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 430px;
    min-height: 368px;
    margin: 25vh 0 20vh 0;
    background-color: #FFFFFF;
    border: 2px solid #B0EFE0;
    border-radius: 0.3rem 0 0 0.3rem;
    box-shadow: -3px 10px 7px 2px rgba(80, 80, 80, 0.1);
}

#login-register {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 430px;
    min-height: 368px;
    margin: 25vh 0 20vh 0;
    background-color: #B0EFE0;
    border: 2px solid #B0EFE0;
    border-radius: 0 0.3rem 0.3rem 0;
    box-shadow: 3px 10px 7px 2px rgba(80, 80, 80, 0.1);
}

#register-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 440px;
    margin: 25vh 0 5vh 0;
    background-color: #FFFFFF;
    border: 2px solid #B0EFE0;
    border-radius: 0.3rem;
    box-shadow: 0 10px 7px 2px rgba(80, 80, 80, 0.1);
}

input {
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
    color: #BCBCBC;
    border: 2px solid #B0EFE0;
    border-radius: 0.3rem;
    margin: 10px 0 12px 0;
}

#login-username,
#login-password { min-width: 230px; }

#register-username,
#register-password1,
#register-password2 { min-width: 222px; }

input:focus { outline: none; }

::placeholder { color: #BCBCBC; }

#signup,
#login-submit,
#register-submit {
    font-weight: 700;
    width: 100px;
    height: 34px;
    border-radius: 0.3rem;
}

#signup {
    background-color: #FFFFFF;
    color: #B0EFE0;
    border: 2px solid #FFFFFF;
    margin: 4% 0 15% 0;
}

#login-submit {
    background-color: #B0EFE0;
    color: #FFFFFF;
    border: 2px solid #B0EFE0;
    padding: 0 0 3px 0;
    margin: 20px 0 50px 0;
}

#register-submit {
    background-color: #B0EFE0;
    color: #FFFFFF;
    border: 2px solid #B0EFE0;
    padding: 0 0 3px 0;
    margin: 20px 0 20px 0;
}

.submit-button,
.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #B0EFE0;
}

#login-submit:hover,
#register-submit:hover {
    cursor: pointer;
    background-color: #95e6d2;
    border: 2px solid #95e6d2;
    transform: scale(1.03) perspective(1px);
    transition-timing-function: ease-in;
}

#signup:hover,
#signup>a:hover {
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    transform: scale(1.03) perspective(1px);
    transition-timing-function: ease-in;
}

#member-login>a:hover {
    color: #95e6d2;
}

.input-container-1,
.input-container-2 {
    position: relative;
}

.input-container-1>img,
.input-container-2>img {
    position: absolute;
    top: 18px;
    left: 8px;
    background-color: #FFFFFF;
}

.input-container-1>input,
.input-container-2>input {
    padding-left: 50px;
}

.member-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #687C94;
    font-weight: 700;
    padding: 10px 0 20px 0;
    margin: 0 0 20px 0;
}

.msg,
.error {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 1.2rem;
    border-radius: 0.3rem;
    padding: 0 10px 0 10px;
}

.error { background-color: #C51B1B; }

.msg { background-color: #38cf68; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #BCBCBC;
    transition: background-color 5000s ease-in-out 0s;
}


/* projectlist */

body.project-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body.project-list::-webkit-scrollbar {
    display: none;
  }

nav{
    padding: 5px 20px;
    width: 100%;
    border-bottom: 1px solid #bcbcbc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #687C94;
}

nav img{
    height: 30px;
}
nav .nav-form{
    height: 30px;
    display: flex;
    align-items: center;
}
nav span{font-weight: bold; padding-right:10px;}

nav #logout{
    margin-top: 13px;
    border: none;
    padding: 0;
    background: none;
    font-weight: bold;
    color: #687C94 ;
}

nav #logout:hover{
    cursor: pointer;
    color: #3D4E61;
}

.logo-in-page{
    margin: 50px 0;
}

h1{
    margin: 0;
    color: #3D4E61;
}

.container-table{
    color: #3D4E61;
    width: 80%;
    margin: 20px;
    background-color: #ffffff;
    border: 2px solid #B0EFE0;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
}

.table-head{
    width: 100%;
    padding: 10px 30px;
    border-bottom:1px solid #bcbcbc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
h4{font-weight: bold;}
.table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-row{
    width: 95%;
    margin:10px;
    border: 1px solid #B0EFE0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.project-name,.th.title{padding-left: 10px; width: 10%;}
.project-description{width: 30%;}
.th.status{padding-right: 19%;}
.th.total{padding-left: 25%;}
.th.description{margin-left: 5%;}

.project-name a{
    color: #3D4E61;
    font-weight: 500;
}


.pagination-links,.edit-delete{display: flex;flex-direction: row;}

span.status-box{
    color: #fff;
    padding: 5px;
    border-radius: 0.3rem;
}
span.ongoing{background: #687C94;}
span.completed{background: #B0EFE0;}
#search-form{width: 100%;}
#input-search{
    padding-left: 20px;
    width: 50%;
}
.btn{ 
    background: none;
    border: none;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.btn:active{transform: scale(.98);}


.bottom-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#csv-form input{
    color:#B0EFE0;
    font-weight: 500;
    border: 2px solid #B0EFE0;
}

#create-new-project-btn {
    margin: 30px 0 20px 0 ;
}

#csv-form{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 85%;
}

#btn-search{
    position: absolute;
    top: 54%;
    right: 26%;
}
