@import "reset.css";
@import "nav-footer.css";
@import "variables.css";
@import "buttons.css";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

input,
button,
a,
#status,
#priority,
::placeholder {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 600px) {
  a {
    font-size: 0.8rem;
  }
}

body {
  background: var(--background);
  min-height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.login-register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.logo-top {
  max-width: 100px;
  margin-bottom: 2%;
}

.log-reg-heading {
  color: var(--font-color-dark);
  line-height: 200%;
}

h1.log-reg-heading {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 20px 0 0 0;
}

h2.log-reg-heading {
  font-weight: 700;
  margin: 0 0 20px 0;
}

#login-register>h1,
#login-register>h2 {
  color: var(--white);
}

.auth-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: var(--border-primary);
}

#login-wrapper,
#login-register {
  min-width: 456px;
  min-height: 382px;
}

#login-wrapper {
  background-color: var(--white);
  border-radius: 0.3rem 0 0 0.3rem;
  box-shadow: -3px 10px 7px 2px rgba(80, 80, 80, 0.1);
  margin-bottom: 8%;
}

#login-register {
  background-color: var(--primary-color);
  border-radius: 0 0.3rem 0.3rem 0;
  box-shadow: 3px 10px 7px 2px rgba(80, 80, 80, 0.1);
  margin-bottom: 8%;
}

#register-wrapper {
  min-width: 458px;
  min-height: 490px;
  background-color: var(--white);
  border: var(--border-primary);
  box-shadow: 0 10px 7px 2px rgba(80, 80, 80, 0.1);
  margin-bottom: 4%;
}

input {
  display: inline-block;
  font-weight: 400;
  line-height: 30px;
  font-size: 1rem;
  color: var(--font-color-light);
  border: var(--border-primary);
  border-radius: var(--border-radius);
  margin: 8px 0 4px 0;
}

.auth-input {
  min-width: 320px;
}

input:focus,
#status:focus,
#priority:focus {
  outline: none;
}

::placeholder {
  color: var(--font-color-light);
}

#login-submit {
  padding: 0 0 3px 0;
  margin: 20px 0 50px 0;
}

.submit-button,
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup {
  margin: 10% 0 20% 0;
}

#register-submit {
  margin: 30px 0 20px 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--active);
}

#member-login>a:hover {
  color: var(--light-green-hover);
}

.log-reg-input-container {
  position: relative;
}

.log-reg-input-container>img {
  position: absolute;
  top: 16px;
  left: 8px;
  background-color: var(--white);
}

.log-reg-input-container>input {
  padding-left: 50px;
}

.member-login {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: var(--font-color-dark);
  font-weight: 700;
  padding: 10px 0 20px 0;
  margin: 0 0 20px 0;
}

.msg,
.error {
  font-size: 14px;
  color: var(--white);
  line-height: 1.2rem;
  border-radius: 0.1rem;
  padding: 0 10px 0 10px;
}

.error {
  background-color: var(--err-color);
}

.msg {
  background-color: var(--conf-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--font-color-light);
  transition: background-color 5000s ease-in-out 0s;
}


/* projectlist */


body.project-list,
body.task-list,
body.eventlog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-in-page {
  margin: 50px 0;
}

.task-proj-logo {
  max-width: 120px;
}

@media screen and (max-width: 600px) {
  .logo-in-page {
    margin: 12px 0;
  }
  .task-proj-logo {
    width: 60px;
  }
}

.task-proj-heading {
  margin: 20px 0 50px 0;
  text-align: center;
  color: var(--font-color-dark);
  max-width: 1000px;
}

h1.task-proj-heading {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .task-proj-heading {
    margin: 10px 0 20px 0;
  }

  h1.task-proj-heading  {
    font-size: 1rem !important;
  }
}

.container-table {
  color: var(--font-color-dark);
  width: 80%;
  margin: 20px auto;
  background-color: var(--white);
  border: var(--border-primary);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.table-head,
.table-row,
.th,
.table-body {
  display: grid;
}

/*Create Project & Create Task */

.create-table-head,
.edit-table-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 15px 30px;
  border-bottom: var(--nav-border);
  margin-bottom: 10px;
}

.create-container-table,
.edit-container-table {
  color: var(--font-color-dark);
  width: 50%;
  margin: 20px auto;
  background-color: var(--white);
  border: var(--border-thick);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0 5% 0;
}

.table-body,
.table-head {
  padding: 15px 30px;
  width: 100%;
}

.table-head,
.table-row {
  grid-template-columns: 1fr 1.5fr repeat(2, 0.5fr) 1fr 0.5fr;
}

.eventlog .table-row,
.eventlog .table-head { grid-template-columns:  repeat(5, 1fr); }
 
.table-head {
  border-bottom: var(--nav-border);
  margin-bottom: 10px;
}

.table-body {
  row-gap: 30px;
}

.table-row {
  border: 1px solid var(--primary-color);
  padding: 5px;
  align-items: center;
}

.edit {
  color: var(--font-color-normal);
}

.trash {
  color: var(--err-color);
}

.th {
  justify-content: center;
  font-weight: bold;
}

#title, #description {
  justify-content: left;
  padding-left: 18px;
}

.tasks-left,
.tasks-count {
  text-align: center;
}

a.project-name {
  color: var(--font-color-dark);
  font-weight: 700;
}
a.project-name,.project-description {
  word-break: break-word;
  padding-right: 10px;
}

.edit-delete {
  display: flex;
  justify-content: space-evenly;
}

.status-box {
  color: var(--white);
  padding: 10px;
  border-radius: 0.3rem;
  text-align: center;
  width: 40%;
  min-width: 98px;
  justify-self: center;
}

.status {
  text-align: center;
}

.ongoing {
  background: var(--font-color-normal);
}

.completed {
  background: var(--primary-color);
}

#search-form {
  min-width: 36%;
  position: relative;
}

#input-search {
  padding: 2px 35px 2px 20px;
  width: 100%;
}

#csv-form input,
#csv-form-tasks input,
#create-project-btn,
#create-task-btn,
#edit-project-btn {
  color: var(--primary-color);
  font-weight: 500;
  border: var(--border-primary);
}

#create-new-project-btn {
  margin: 30px 0 20px 0;
}

#csv-form {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

#btn-search {
  position: absolute;
  right: 2%;
  top: 55%;
  transform: translateY(-50%);
}


/* medias */

@media (max-width: 995px) {

  .project-description,
  .description {
    display: none;
  }

  .table-head,
  .table-row {
    grid-template-columns: 1fr repeat(2, 0.5fr) 1fr 0.5fr;
  }
}

@media (max-width: 680px) {

  .tasks-count,
  .tasks-left,
  .left,
  .total {
    display: none;
  }

  .table-head,
  .table-row {
    grid-template-columns: 4fr 1.5fr 1fr;
  }

  #search-form {
    max-width: 36%;
    position: relative;
  }
  
  .project-list h1, 
  .eventlog h1 {
    font-size: 24px;
  }

  #input-search {
    padding: 1px 16px 1px 10px;
    width: 100%;
    line-height: 20px;
  }

  #input-search::placeholder {
    font-size: 0.7rem;
  }

  #search-form {
    min-width: 65%;
  }

  #search-form .icon {
    font-size: 0.7rem;
  }

  #title, #status {
    font-size: 0.8rem;
  }

  .container-table {
    width: 90%;
  }

  .edit-delete .icon {
    font-size: 0.8rem;
  }

  .status-box {
    min-width: 60px;
    font-size: 0.6rem;
    padding: 3px 1px;
  }

  .pagination-links a {
    font-size: 0.6rem;
    margin: 0 5px;
  }

  .pagination-links b {
    font-size: 0.8rem;
  }

  #create-new-project-btn {
    width: 32px;
    height: 32px;
    margin: 20px 0;
  }

  #csv-form .btn {
    font-size: 0.6rem;
    line-height: 1rem;
  }

  .table-row .project-name {
    white-space: nowrap;
    word-break: keep-all;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  footer p {
    font-size: 0.6rem;
  }
  footer {
    margin-top: 10px;
    padding: 16px 0;
  }
}

/* taskList */

#back-to-projects span,
#back-to-tasks a {
  font-weight: 700;
  color: var(--font-color-normal);
  cursor: pointer;
}

#priority,
#status {
  border: none;
}

.task-wrapper {
  color: var(--font-color-dark);
  width: 92%;
  margin: 18px -10px 80px -10px;
  background-color: var(--white);
  border: 1px solid var(--primary-color);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
}

.tasks-to-do,
.tasks-in-progress,
.tasks-completed {
  width: 340px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.task-headers {
  width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-header {
  background-color: var(--font-color-normal);
}

.in-progress-header {
  background-color: var(--secondary-color);
}

.completed-header {
  background-color: var(--primary-color);
}

.tasks-bottom {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.individual-task {
  width: 340px;
  height: 90px;
  border: 1px solid var(--primary-color);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-created-date,
.task-updated-date,
.task-id {
  color: var(--font-color-dark);
  font-size: 0.6rem;
}

.task-title {
  font-size: 12px;
  grid-column-start: 3;
}

.individual-task {
  position: relative;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tasks-to-do,
.tasks-in-progress,
.tasks-completed {
  min-width: 340px;
  min-height: 460px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.task-headers {
  width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-header {
  background-color: var(--font-color-normal);
}

.in-progress-header {
  background-color: var(--secondary-color);
}

.completed-header {
  background-color: var(--primary-color);
}

.tasks-bottom {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.individual-task {
  width: 340px;
  height: 90px;
  border: 1px solid var(--primary-color);
}

.task-created-date,
.task-updated-date,
.task-id {
  color: var(--font-color-dark);
  font-size: 0.6rem;
}

.task-title {
  font-size: 12px;
  grid-column-start: 3;
}

.individual-task {
  padding: 0 10px;
  position: relative;
}

.individual-task:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 48px solid var(--warn); /* + var(--secondary-color), var(--primary-color);*/
  border-left: 76px solid transparent;
  width: 0;
}

.task-medium:before {
  border-top: 48px solid #B0C2EF; /* + var(--secondary-color), var(--primary-color);*/
}

.task-low:before {
  border-top: 48px solid #A0D9CB; /* + var(--secondary-color), var(--primary-color);*/
}


.task-description {
  text-align: center;
}

.ind-task-edit {
  position: absolute;
  top: 60px;
  right: 30px;
}

.ind-task-dlt {
  position: absolute;
  top: 60px;
  right: 10px;
}

.task-priority {
  position: absolute;
  right: 6px;
  top: 6px;
}

.task-status {
  position: absolute;
  left: 400px;
}

#csv-form-tasks {
  text-align: center;
}

.back-to-proj-tasks {
  text-align: end;
}

#create-new-task-btn {
  margin-top: 16px;
}

.dropbox-call { background-color: #effcf9; }
.dropbox-hovered { background-color: #d8f7f0; }

.dropbox-hovered .individual-task { background-color: #d8f7f0;}

.ui-draggable-dragging { background-color: #effcf9; z-index: 100;}

/* =========================================================
   DELETE POPUP 
========================================================= */

.delete-popup {
    background-color: #FFFFFF;
    display: none;
    z-index: 1;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 724px;
    align-items: center;
    justify-content: space-between;
}


.delete-message {
    display: flex;
    background-color: #A0D9CB;
    flex-direction: column;
    width: 362px;
    height: 345px;
    text-align: center;
    justify-content: center;
}

.delete-message h4 { margin-bottom: 30px; }
.delete-message p { margin-bottom: 15px; }
.delete-message form { margin-bottom: 5px; }

.delete-message span {
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.delete-message span:hover,
.delete-message span:active { 
    font-size: 17px;
    transition-timing-function: ease-in;
}

/* =========================================================
   POPUPS
========================================================= */

.create-project-form,
.edit-task-form,
.create-task-form,
.edit-project-form {
    display: none;
    z-index: 1;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

